:root {
    --vw: 1vw;
    --vh: 1vh;
    --vmin: 1vh;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: #f0f0f0;
}

body{
    margin: 0;
    display: block;
    position: relative;
    background: #dedede;
    color: #6a6a6a;
    width: 100%;
    height: 100%;
    font-family: 'M PLUS 1p', sans-serif;
    border-top:1px solid transparent;
    box-sizing: border-box;
}

#header{
    display: block;
    position: relative;
    width: calc(100 * var(--vh, vh));
    max-width: calc(95 * var(--vw, vw));
    height: calc(6.5 * var(--vh, vh));
    left: 50%;
    margin-top: 1.5%;
    transform: translate(-50%,0);
    border-radius: 1000px;
    box-shadow: #c1c1c1 calc(.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.3 * var(--vh, vh)), 
                #eeeeee calc(-.4 * var(--vh, vh)) calc(-.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.3 * var(--vh, vh));
}
#header #player_name{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 calc(1 * var(--vh, vh));
    height: calc(5.5 * var(--vh, vh));
    left: calc(1 * var(--vh, vh));
    border-radius: 1000px;
    top: 50%;
    font-size: calc(2.3 * var(--vh, vh));
    transform: translate(0, -50%);
    font-weight: bolder;
    box-sizing: border-box;
}
#header #player_name.black{
    background-color: #767676;
    color: #ffffff;
}
#header #player_name.white{
    background-color: #ffffff;
    color: #444444;
}
#header h1{
    display: block;
    position: absolute;
    font-weight: bolder;
    font-size: calc(3.5 * var(--vh, vh));
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#header #cancel_button{
    display: none;
    position: absolute;
    right: calc(.5 * var(--vh, vh));
    top: 50%;
    height: calc(100% - (1 * var(--vh, vh)));
    transform: translate(0, -50%);
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 1000px;
    background: #eabbbb;
    box-shadow: #c1c1c1 calc(.2 * var(--vh, vh)) calc(.2 * var(--vh, vh)) calc(.2 * var(--vh, vh)) calc(.1 * var(--vh, vh)), 
                #eeeeee calc(-.2 * var(--vh, vh)) calc(-.2 * var(--vh, vh)) calc(.2 * var(--vh, vh)) calc(.1 * var(--vh, vh));
}
#cancel_button::before, #cancel_button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2%;
  height: 50%;
  background: #6a6a6a;
}
#cancel_button::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
#cancel_button::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

#message{
    display: none;
    position: absolute;
    width: 100%;
    height: calc(15 * var(--vh, vh));
    background-color: #f26b6b53;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bolder;
    font-size: calc(4.3 * var(--vh, vh));
}

#games_outer{
    position: relative;
    display: block;
    width: 600px;
    height: calc(85 * var(--vh, vh));
    max-width: calc(91 * var(--vw, vw));
    left: 50%;
    top: 46%;
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
    transform: translate(-50%,-50%);
    box-shadow: #c1c1c1 calc(.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.3 * var(--vh, vh)), 
                #eeeeee calc(-.4 * var(--vh, vh)) calc(-.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.3 * var(--vh, vh));
}
#games{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.game_selector{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2.7 * var(--vh, vh));
    cursor: pointer;
    border-bottom: solid 3px #bcbcbc;
}
.game_selector.offline_mode{
    background-color: #bbbbbb;
}
.game_selector.monkey_mode{
    background-color: #d2d1d1;
}
.game_selector.free_online_mode{
    background-color: #e6e6e6;
}

#board{
    display: none;
    position: absolute;
    width: calc(82 * var(--vh, vh));
    height: calc(82 * var(--vh, vh));
    max-width: calc(95 * var(--vw, vw));
    max-height: calc(95 * var(--vw, vw));
    left: 50%;
    top: 55%;
    padding: calc(0.5 * var(--vh, vh));
    transform: translate(-50%,-50%);
    flex-flow: column;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: #c1c1c1 calc(.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.3 * var(--vh, vh)), 
                #eeeeee calc(-.4 * var(--vh, vh)) calc(-.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.3 * var(--vh, vh));
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.piece{
    position: relative;
    display: block;
    background: #dedede;
    border-radius: 1000px;
    width: 10%;
    padding-top: 10%;
    cursor: pointer;
}
.black{
    background: #767676;
}
.white{
    background: #ffffff;
}
.sole::after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    height: 30%;
    border-radius: 100%;
    transform: translate(-50%,-50%);
}
.black.sole::after{
    background-color: #ffffff;
}
.white.sole::after{
    background-color: #848484;
}


.row_separator{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.separator{
    position: relative;
    display: block;
    height: 100%;
    width: calc(.15 * var(--vh, vh));
    background: #cbcbcb;
}
.row_separator .separator{
    width: 10%;
    height: calc(.2 * var(--vh, vh));
}
.row .separator{
    height: 100%;
    width: calc(.2 * var(--vh, vh));
}