:root {
    --vw: 1vw;
    --vh: 1vh;
    --vmin: 1vh;
}
/*スクロールバー全体*/
::-webkit-scrollbar {
    width: 10px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
    background-color: #d8d8d8;
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 1000px;
    border: solid 2px transparent;
    border-right: solid 1px transparent;
    box-sizing: border-box;
    background-clip: padding-box;
}

body{
    margin: 0;
    display: block;
    position: relative;
    background: #dedede;
    color: #6a6a6a;
    width: 100%;
    height: 100%;
    font-family: 'M PLUS 1', sans-serif;
    border-top:1px solid transparent;
    box-sizing: border-box;
}

#header{
    display: block;
    position: relative;
    width: calc(100 * var(--vh, vh));
    max-width: calc(95 * var(--vw, vw));
    height: calc(6.5 * var(--vh, vh));
    left: 50%;
    margin-top: calc(2.5 * var(--vh, vh));
    transform: translate(-50%,0);
    border-radius: 1000px;
    box-shadow: #c1c1c1 calc(.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.3 * var(--vh, vh)), 
                #eeeeee calc(-.4 * var(--vh, vh)) calc(-.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.3 * var(--vh, vh));
}
#header #player_name{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 calc(1 * var(--vh, vh));
    height: calc(5.5 * var(--vh, vh));
    left: calc(1 * var(--vh, vh));
    border-radius: 1000px;
    top: 50%;
    font-size: calc(2.3 * var(--vh, vh));
    transform: translate(0, -50%);
    font-weight: bolder;
    box-sizing: border-box;
}
#header #player_name.black{
    background-color: #767676;
    color: #ffffff;
}
#header #player_name.white{
    background-color: #ffffff;
    color: #444444;
}
#header h1{
    display: block;
    position: absolute;
    font-weight: bolder;
    font-size: calc(3.5 * var(--vh, vh));
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#header #cancel_button{
    display: none;
    position: absolute;
    right: calc(.5 * var(--vh, vh));
    top: 50%;
    height: calc(100% - (1 * var(--vh, vh)));
    transform: translate(0, -50%);
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 1000px;
    background: #eabbbb;
    box-shadow: #c1c1c1 calc(.2 * var(--vh, vh)) calc(.2 * var(--vh, vh)) calc(.2 * var(--vh, vh)) calc(.1 * var(--vh, vh)), 
                #eeeeee calc(-.2 * var(--vh, vh)) calc(-.2 * var(--vh, vh)) calc(.2 * var(--vh, vh)) calc(.1 * var(--vh, vh));
}
#cancel_button::before, #cancel_button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2%;
  height: 50%;
  background: #6a6a6a;
}
#cancel_button::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
#cancel_button::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

#message{
    display: none;
    position: absolute;
    width: 100%;
    height: calc(15 * var(--vh, vh));
    background-color: #f26b6b6f;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bolder;
    font-size: calc(4.3 * var(--vh, vh));
}

#main_outer{
    position: relative;
    display: block;
    width: 600px;
    height: calc(83.5 * var(--vh, vh));
    max-width: calc(91 * var(--vw, vw));
    left: 50%;
    margin-top: calc(3 * var(--vh, vh));
    border-radius: 15px;
    padding: calc(1 * var(--vh, vh));
    overflow-x: hidden;
    overflow-y: hidden;
    transform: translate(-50%, 0);
    box-shadow: #c1c1c1 calc(.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.3 * var(--vh, vh)), 
                #eeeeee calc(-.4 * var(--vh, vh)) calc(-.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.3 * var(--vh, vh));
}
#games{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: solid 3px #cacaca;
    overflow: hidden;
    box-sizing: border-box;
}
#games_inner{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #bcbcbc;
}
.game_selector{
    height: calc(11 * var(--vh, vh));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2.7 * var(--vh, vh));
    cursor: pointer;
    border-bottom: solid 3px #aeaeae;
    box-sizing: border-box;
}
.game_selector:last-of-type{
    border-bottom: none;
}
.game_selector#show_help{
    background-color: #ececec;
}
.game_selector#offline_mode{
    background-color: #bdbdbd;
}
.game_selector#monkey_mode{
    background-color: #d3d3d3;
}
.game_selector#free_online_mode{
    background-color: #ececec;
}
.game_selector#private_start{
    background-color: #bdbdbd;
}
.game_selector#private_join{
    background-color: #d3d3d3;
}

#help{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: solid 3px #cacaca;
    overflow: hidden;
    box-sizing: border-box;
    transform: rotate(0.03deg);
}
#help_inner{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 calc(2.7 * var(--vh, vh));
    background-color: #ebebeb;
}
#help h1{
    font-size: calc(3.2 * var(--vh, vh));
    margin-top: calc(2.7 * var(--vh, vh));
    text-decoration: underline;
}
#help h2{
    font-size: calc(3 * var(--vh, vh));
    margin-top: calc(2.5* var(--vh, vh));
}
#help h3{
    font-size: calc(2.8 * var(--vh, vh));
    margin-top: calc(1.5* var(--vh, vh));
}
#help h4{
    font-size: calc(2.5 * var(--vh, vh));
    margin-top: calc(1.1* var(--vh, vh));
}
#help h5{
    font-size: calc(2.2 * var(--vh, vh));
    margin-top: calc(.9* var(--vh, vh));
}
#help p{
    font-size: calc(2.2 * var(--vh, vh));
    margin-top: calc(.9* var(--vh, vh));
}
#help img{
    width: 100%;
    height: auto;
    margin-top: calc(2* var(--vh, vh));
}
#help .separator{
    width: 100%;
    height: 2px;
    margin-top: calc(2* var(--vh, vh));
    background-color: #6a6a6a;
}

#board{
    display: none;
    position: absolute;
    width: calc(82 * var(--vh, vh));
    height: calc(82 * var(--vh, vh));
    max-width: calc(95 * var(--vw, vw));
    max-height: calc(95 * var(--vw, vw));
    left: 50%;
    top: 55%;
    padding: calc(0.5 * var(--vh, vh));
    transform: translate(-50%,-50%);
    flex-flow: column;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: #c1c1c1 calc(.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.3 * var(--vh, vh)), 
                #eeeeee calc(-.4 * var(--vh, vh)) calc(-.4 * var(--vh, vh)) calc(.4 * var(--vh, vh)) calc(.3 * var(--vh, vh));
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.piece{
    position: relative;
    display: block;
    background: #dedede;
    border-radius: 1000px;
    width: 10%;
    padding-top: 10%;
    cursor: pointer;
}
.black{
    background: #767676;
}
.white{
    background: #ffffff;
}
.sole::after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    height: 30%;
    border-radius: 100%;
    transform: translate(-50%,-50%);
}
.black.sole::after{
    background-color: #ffffff;
}
.white.sole::after{
    background-color: #848484;
}


.row_separator{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.separator{
    position: relative;
    display: block;
    height: 100%;
    width: calc(.15 * var(--vh, vh));
    background: #cbcbcb;
}
.row_separator .separator{
    width: 10%;
    height: calc(.2 * var(--vh, vh));
}
.row .separator{
    height: 100%;
    width: calc(.2 * var(--vh, vh));
}
